@import '../../scss/variables/_colors';

%container { 
  border-radius: 4px;
  font-weight: 600;
  font-size: medium;
  padding: 15px 5px;
  text-align: center;
}

.msg-error {
  @extend %container;
  background-color: $red-light;
  color: $red;
}

.msg-success {
  @extend %container;
  background-color: $cyan-light;
  color: $green-mint;
}
