@import '../../scss/variables/_colors';

.input {
  background-color: white;
  border-radius: 4px;
  height: 30px;
  width: 100%;
}

.label {
  color: black;
  font-weight: 600;
  margin: 6px 0;
  text-align: left;
}

.errors {
  color: red;
  font-size: small;
}
