@import '../../scss/variables/_colors';

.container {
  position: absolute;
  right:  10px;
}

.select {
  background-color: $green-light;
  border-radius: 4px;
  color: $white;
  padding: 5px 5px;
}
