@import '../../scss/variables/_colors';

.container {
  background-color: $gray;
  margin: 20px;
  min-width: 25%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 0 30px;
  padding-bottom: 30px;
}

.bar {
  background-color: $gray-dark;
  height: 1px;
  width: 100%;
}
