$white: #FFF;
$black: #000;
$red: #F00;
$blue: #00F;
$gray: #A8A8A8;
$green-light: #BED23C;
$blue-light:#00ADEE;
$gray-dark: #818181;
$cyan-light: #818181;
$green-mint: #219256;
$red-light: #e6b8b8; 
$gray-light : #F4F4F4
