@import '../../scss/variables/_colors';

.container {
  margin: 10px 20px;
  min-width: 35%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn-signUp {
  background-color: $green-light;
  border-radius: 4px;
  color: white;
  height: 30px;
  margin-top: 10px;
  padding: 4px 4px;
  width: 100%;
}

.btn-login {
  border: solid 2px $green-light;
  border-radius: 4px;
  color: $green-light;
  height: 30px;
  padding: 4px 4px;
  width: 100%;
}

.bar {
  background-color: rgba(82, 78, 78, 0.63);
  height: 1px;
  margin: 12px 0;
  width: 100%;
}
